<span style="font-size: small; color: #61625d">
    <!-- Three columns of text below the carousel -->
    <div class="container">
        <div>
            <h3>
                Personendaten von
                {# <span style="font-size: small">
                {{ person.getGeschlecht() == null ? '' : person.getGeschlecht().getName() }}#}
                    {#{{ person.getTitel() == null ? '' : person.getTitel().getName() }} </span>#}
                <b>{{ person.getVorname() }} {{ person.getNachname() }}</b>
                </h3>
        </div>
        <!-- Buttons -->
        <!-- Button Edit -->
        <button type="button" class="btn btn-linkfx btn-xs" aria-label="Left Align"
                href="{{ path('edit_current_person') }}"
                data-toggle="modal"
                data-target="#editPersonPopup">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Namen bearbeiten
        </button>
        <button type="button" class="btn btn-linkfxred btn-xs" aria-label="Left Align">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Löschen
        </button>
        <hr>
        An dieser Stelle lassen sich deine Daten wie <b>Benutzername</b>, <b>Kennwort</b>, dein richtiger <b>Name</b>
        und die gängigen Kontaktmöglichkeiten (<b>Adresse</b>, <b>Telefon- und Faxnummern</b>, sowie
        <b>Emailadressen</b> verwalten.
        <br><br>
        Aktuell ist es nicht notwendig den richtigen Namen sowie irgendwelche Adressen oder Nummern zu hinterlegen. Ich
        will aber nicht ausschließen, dass in naher Zukunft Funktionen entstehen, bei denen genau diese Daten benötigt
        werden könnten. Aber lass dich dadurch nicht beeinflussen, die genannten Attribte lassen sich auch später noch
        hinzufügen. Erstmal ist wichtig <b>Benutzername</b>, <b>Kennwort</b> und eine <b>Emailadresse</b>, aber das ahst
        du ja bei der Registrierung schon hinter dich gebracht.
        <hr>
        <div class="row">

            {# RECHTE SEITE#}
            {% include "Personen/display_parts/left.html.twig" %}
            {# MITTELTEIL #}
            {% include "Personen/display_parts/center.html.twig" %}
            {# RECHTER TEIL#}
            {% include "Personen/display_parts/right.html.twig" %}
        </div>
    </div>
</span>
