{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div>

    <!-- Modal content-->
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Email Adresse hinzufügen</h4>
        </div>
        <div class="modal-body">
            <div class="text">
                <p>Na dann mal los, her mit der neuen Emailadresse.</p><br>
            </div>
            <div class="text">
                {{ form_start(form, {'action': path('add_email_by_current_person_modal')}) }}
                {{ form_row(form.emailadresse) }}
                {{ form_row(form.privatGeschaeft) }}
                {#{{ form_row(form.submit) }}#}
                <div>
                    <br>
                    <input type="submit" class="btn btn-default btn-sm" value="hinzufügen">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMailPornoPopup" data-dismiss="modal"
                href="{{ path('add_email_porno_by_current_person_modal', {'emailAddress': form_row(form.emailadresse) }) }}">Close current, Launch Modal #1</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

</div>
