{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div>
    <!-- Three columns of text below the carousel -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <br>
                <div>
                    <h4>User</h4>
                    <div class="text">
                        Hier kannst du nun deinen Benutzernamen, deine Referenzemailadresse und dein Passwort ändern.
                        <br><br>
                        {{ form_start(form) }}
                        {{ form_row(form.username) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.current_password) }}
                        <div>
                            <br>
                            {#<input type="submit" value="{{ 'profile.edit.submit'|trans }}" />#}
                            <input type="submit" class="btn btn-default" value="Benutzer aktualisieren">
                            <a class="btn btn-danger" href="{{ path('display_current_person') }}"
                               role="button">abbruch</a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                    <br>
                    <br>
                    <h4>Name</h4>
                    <div class="text">
                        <p>Dein Name sollte sich nicht nach belieben anpassen, aber sollte mal eine Hochzeit dazwischen
                            kommen, du konntest dich nicht durchsetzen und dein Nachname ändert sich tatsächlich, dann
                            kannst du das hier ändern.</p>
                    </div>
                    <table>
                        {#<table class="table">#}
                        <tr>
                            <td style="width: 300px;">
                                <span style="font-size: small">{{ person.getGeschlecht() == null ? '' : person.getGeschlecht().getName() }}
                                    {{ person.getTitel() == null ? '' : person.getTitel().getName() }}</span>
                                <p><b>{{ person.getVorname() }} {{ person.getNachname() }}</b></p>
                            </td>
                            <td style="width: 120px;">
                            </td>
                        </tr>
                    </table>
                </div>
            </div><!-- /.col-lg-4 -->
            {# MITTELBLOCK #}
            <div class="col-lg-4">
                <br>
                <div>
                    <h4>Adressen</h4>
                    <div class="text">
                        <p>Eine Adresse hast du mit Sicherheit schon, eine neue wird bald hinzukommen, hier kannst du
                            deine
                            aktuellen Adressen (egal ob privat, geschäftlich hinterlegen.</p><br>
                    </div>
                    <table class="table table-condensed">
                        {% for adresse in adressen %}
                            <div align="right">
                                {#<table>#}
                                <tr>
                                    <td style="width: 300px;">
                                        <p>{{ adresse.getStrasse() }} {{ adresse.getHausnummer() }}<br>
                                            {{ adresse.getPostleitzahl() }} {{ adresse.getOrt() }}</p>
                                        <p style="font-size: small">{{ adresse.getPrivatGeschaeft().getName() }}</p>
                                    </td>
                                </tr>
                            </div>
                        {% endfor %}
                    </table>
                </div>
            </div><!-- /.col-lg-4 -->
            {# RECHTER BLOCK #}
            <div class="col-lg-4">
                <br>
                <div>
                    {# Telefon #}
                    <h4>Telefonnummern</h4>
                    <div class="text">
                        <p>Ähnlich wie bei den Adressen, wirst du sicherlich die ein oder andere Telefonnummer haben,
                            die du
                            hier verwalten kannst.</p><br>
                    </div>
                    <table class="table table-condensed">
                        {% for telefonnummer in person.getTelefonnummern() %}
                            <div align="right">
                                {#<table>#}
                                <tr>
                                    <td style="width: 400px;">
                                        <p> {{ telefonnummer.getTelefonTyp().getKurzname() }}: {{ telefonnummer.getVorwahl() }}/{{ telefonnummer.getTelefonnummer() }}{{ telefonnummer.getDurchwahl() ? '-' : '' }}{{ telefonnummer.getDurchwahl() }}</p>
                                        <p style="font-size: small">{{ telefonnummer.getPrivatGeschaeft().getName() }}</p>
                                    </td>
                                </tr>
                            </div>
                        {% endfor %}
                    </table>
                    <div>
                    </div>
                    <br>
                    {# Email #}
                    <h4>Emailadressen</h4>
                    <div class="text">
                        <p>Mindestens genauso wichtig wie die Telefonnummern, sind doch die Emailadressen. Die
                            Emailadressen, die du hast, kannst du hier verwalten.</p><br>
                    </div>
                    <table class="table table-condensed">
                        {% for email in emails %}
                            <div align="right">
                                <tr>
                                    <td style="width: 400px;">
                                        <p>{{ email.getEmailadresse() }}</p>
                                        {% if email.getEmailadresse == user.getEmail %}
                                            <p style="font-size: x-small">Dies ist die Registrierungsemailadresse, bitte ändere diese über deinen User.</p>
                                        {% else %}
                                            <p style="font-size: small">{{ email.getPrivatGeschaeft().getName() }}</p>
                                        {% endif %}
                                    </td>
                                        <td style="width: 600px;">
                                        </td>
                                        <td style="width: 600px;">
                                        </td>
                                </tr>
                            </div>
                        {% endfor %}
                    </table>
                </div>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>
</div>
