<!-- /app/Resources/views/base.html.twig -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    {#<link rel="icon" href="favicon.ico">#}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    {#{% block stylesheets %}#}
    {#{% stylesheets#}
    {#'css/*' %}#}
    {#<link rel="stylesheets" href="{{ asset_url }}"/>#}
    {#{% endstylesheets %}#}
    {#{% endblock %}#}

    <link href="/Fuchsbau/web/css/all-stylesheet.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    {#<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">#}

    <title>{% block title %}Fuchsbau - Planung!{% endblock %}</title>
    <![endif]-->


    {#<!-- CSS code from Bootply.com editor -->#}

    <style type="text/css">
        /* bootstrap 3 helpers */

        /* bootstrap 3 helpers */

        .navbar-form input, .form-inline input {
            width: auto;
        }

        .navbar {
            margin-bottom: 0;
        }

        .subnav {
            margin: 0;
            top: 0px;
            z-index: 1020;
            /*background-color: rgb(247,247,247);*/
            background-color: transparent;
            /*border-bottom: 2px solid #E1E1E1;*/
            padding: 60px 0px 0px 0px;
            /*padding-top: 60px;*/
        }

        .subnav.affix {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 10;
        }

        .subnav .navbar-brand:hover,
        .subnav .navbar-brand:focus {
            color: #fff;
            background-color: transparent;
        }

        .subnav .navbar-text {
            color: #fff;
        }

        .subnav .navbar-nav > li > a {
            color: #999;
        }

        .subnav .navbar-nav > li > a:hover,
        .subnav .navbar-nav > li > a:focus {
            color: #fff;
            background-color: transparent;
        }

        /* LINK FX */
        .btn-linkfx {
            font-weight: normal;
            color: #61625d;
            cursor: pointer;
            border-radius: 0;
        }

        .btn-linkfx,
        .btn-linkfx:active,
        .btn-linkfx[disabled],
        fieldset[disabled] .btn-link {
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .btn-linkfx,
        .btn-linkfx:hover,
        .btn-linkfx:focus,
        .btn-linkfx:active {
            border-color: transparent;
        }

        .btn-linkfx:hover,
        .btn-linkfx:focus {
            color: #4e4f4b;
            font-weight: bold;
            text-decoration: none;
            background-color: transparent;
        }

        .btn-linkfx[disabled]:hover,
        fieldset[disabled] .btn-link:hover,
        .btn-linkfx[disabled]:focus,
        fieldset[disabled] .btn-link:focus {
            color: #999;
            text-decoration: none;
        }

        /* LINK FX RED*/
        .btn-linkfxred {
            font-weight: normal;
            color: #d0171f;
            cursor: pointer;
            border-radius: 0;
        }

        .btn-linkfxred,
        .btn-linkfxred:active,
        .btn-linkfxred[disabled],
        fieldset[disabled] .btn-link {
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .btn-linkfxred,
        .btn-linkfxred:hover,
        .btn-linkfxred:focus,
        .btn-linkfxred:active {
            border-color: transparent;
        }

        .btn-linkfxred:hover,
        .btn-linkfxred:focus {
            color: #b6141b;
            font-weight: bold;
            text-decoration: none;
            background-color: transparent;
        }

        .btn-linkfxred[disabled]:hover,
        fieldset[disabled] .btn-link:hover,
        .btn-linkfxred[disabled]:focus,
        fieldset[disabled] .btn-link:focus {
            color: #999;
            text-decoration: none;
        }

        /* LINK FX GRASSGREEN*/
        .btn-link-fx-grassgreen {
            font-weight: normal;
            color: rgba(101, 171, 79, 1);
            cursor: pointer;
            border-radius: 0;
        }

        .btn-link-fx-grassgreen,
        .btn-link-fx-grassgreen:active,
        .btn-link-fx-grassgreen[disabled],
        fieldset[disabled] .btn-link-fx-grassgreen {
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .btn-link-fx-grassgreen,
        .btn-link-fx-grassgreen:hover,
        .btn-link-fx-grassgreen:focus,
        .btn-link-fx-grassgreen:active {
            border-color: transparent;
        }

        .btn-link-fx-grassgreen:hover,
        .btn-link-fx-grassgreen:focus {
            color: #57994b;
            text-decoration: none;
            background-color: transparent;
            font-weight: bold;
            text-decoration: none;
        }

        .btn-link-fx-grassgreen[disabled]:hover,
        fieldset[disabled] .btn-link:hover,
        .link-fx-grassgreen[disabled]:focus,
        fieldset[disabled] .btn-link:focus {
            color: #999;
            text-decoration: none;
        }

        /* LINK FX BRIGHTBLUE*/
        .btn-link-fx-brightblue {
            font-weight: normal;
            color: #6aa2c3;
            cursor: pointer;
            border-radius: 0;
        }

        .btn-link-fx-brightblue,
        .btn-link-fx-brightblue:active,
        .btn-link-fx-brightblue[disabled],
        fieldset[disabled] .btn-link-fx-brightblue {
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .btn-link-fx-brightblue,
        .btn-link-fx-brightblue:hover,
        .btn-link-fx-brightblue:focus,
        .btn-link-fx-brightblue:active {
            border-color: transparent;
        }

        .btn-link-fx-brightblue:hover,
        .btn-link-fx-brightblue:focus {
            color: #55829d;
            text-decoration: none;
            background-color: transparent;
            font-weight: bold;
            text-decoration: none;
        }

        .btn-link-fx-brightblue[disabled]:hover,
        fieldset[disabled] .btn-link:hover,
        .link-fx-brightblue[disabled]:focus,
        fieldset[disabled] .btn-link:focus {
            color: #999;
            text-decoration: none;
        }

        /* BTN DEFAULT RED*/
        .btn-foxy {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }

        .btn-foxy:hover,
        .btn-foxy:focus,
        .btn-foxy:active,
        .btn-foxy.active,
        .open .dropdown-toggle.btn-foxy {
            color: #333;
            background-color: #ebebeb;
            border-color: #adadad;
        }

        .btn-foxy:active,
        .btn-foxy.active,
        .open .dropdown-toggle.btn-foxy {
            background-image: none;
        }

        .btn-foxy.disabled,
        .btn-foxy[disabled],
        fieldset[disabled] .btn-foxy,
        .btn-foxy.disabled:hover,
        .btn-foxy[disabled]:hover,
        fieldset[disabled] .btn-foxy:hover,
        .btn-foxy.disabled:focus,
        .btn-foxy[disabled]:focus,
        fieldset[disabled] .btn-foxy:focus,
        .btn-foxy.disabled:active,
        .btn-foxy[disabled]:active,
        fieldset[disabled] .btn-foxy:active,
        .btn-foxy.disabled.active,
        .btn-foxy[disabled].active,
        fieldset[disabled] .btn-foxy.active {
            background-color: #fff;
            border-color: #ccc;
        }

        .btn-foxy .badge {
            color: #fff;
            background-color: #333;
        }

        .subnav .navbar-link {
            color: #999;
        }

        .subnav .navbar-link:hover {
            color: #fff;
        }

        body {
            margin: 0px;
            padding: 0px;
            overflow-y: scroll;
            /*background-color: rgba(191, 217, 248, 0.11);*/
        }


        @media screen and (min-width: 768px) {
            .custom-class {
                width: 70%; /* either % (e.g. 60%) or px (400px) */
            }
        }


    </style>

</head>
<body>
<div>
    {% block topnav %}
        {% include 'topnav.html.twig' %}
    {% endblock %}
</div>
<br><br><br>

<div class="container">
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {#{% block content %}{% endblock %}#}

            {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
            {#<a href="{{ path('fos_user_security_logout') }}">#}
            {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
            {#&#123;&#35;</a>&#35;&#125; {% block content %}{% endblock %}#}
        {% else %}
            {#&#123;&#35;xxx&#35;&#125;#}
            {#{% trans_default_domain 'FOSUserBundle' %}#}

            {#{% block fos_user_content %}#}
            {#{% if error %}#}
            {#<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
            {#{% endif %}#}

            {#<div class="container">#}
            {#<div class="row">#}
            {#<br><br>#}
            {#<h2>Log-In</h2>#}
            {#<br><br>#}
            {#<div class="col-md-4">#}
            {#<div>#}
            {#<div class="text">#}
            {#<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">#}
            {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>#}
            {#<label for="username"#}
            {#style="width: 100px">{{ 'security.login.username'|trans }}</label>#}
            {#<input type="text"#}
            {#id="username"#}
            {#name="_username"#}
            {#class="form-control"#}
            {#value="{{ last_username }}"#}
            {#placeholder="Email address" required autofocus>#}
            {#<br>#}
            {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
            {#<input type="password" id="password" name="_password" class="form-control"#}
            {#required="required"/>#}
            {#<div class="checkbox">#}
            {#<label>#}
            {#<input type="checkbox" value="remember-me"> Remember me#}
            {#</label>#}
            {#</div>#}
            {#<br>#}
            {#<input type="submit"#}
            {#class="btn btn-default btn-sm"#}
            {#id="_submit"#}
            {#name="_submit"#}
            {#value="einloggen"/>#}
            {#&#123;&#35;{{ form_rest(form) }}&#35;&#125;#}
            {#</form>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#<div class="col-md-4">#}
            {#Wenn du dich anmeldest, kannst du gleich mit deinem oder einem deiner Projekte fortfahren. Solltest du noch gar kein Projekt haben, kannst du dann natürlich eines anlegen.<br><br>#}
            {#Solltest du dich noch gar nicht registriert haben, kannst du das oben mit einem Klick auf "Registrieren" nachholen.#}
            {#<br><br>#}
            {#</div>#}
            {#</div>#}
            {#</div> <!-- /container -->#}
            {#{% endblock fos_user_content %}#}

            {#{% block stylesheets %}#}
            {#<style>#}
            {#body {#}
            {#padding-top: 40px;#}
            {#padding-bottom: 40px;#}
            {#background-color: #eee;#}
            {#}#}

            {#.form-signin {#}
            {#max-width: 330px;#}
            {#padding: 15px;#}
            {#margin: 0 auto;#}
            {#}#}

            {#.form-signin .form-signin-heading,#}
            {#.form-signin .checkbox {#}
            {#margin-bottom: 10px;#}
            {#}#}

            {#.form-signin .checkbox {#}
            {#font-weight: normal;#}
            {#}#}

            {#.form-signin .form-control {#}
            {#position: relative;#}
            {#height: auto;#}
            {#-webkit-box-sizing: border-box;#}
            {#-moz-box-sizing: border-box;#}
            {#box-sizing: border-box;#}
            {#padding: 10px;#}
            {#font-size: 16px;#}
            {#}#}

            {#.form-signin .form-control:focus {#}
            {#z-index: 2;#}
            {#}#}

            {#.form-signin input[type="email"] {#}
            {#margin-bottom: -1px;#}
            {#border-bottom-right-radius: 0;#}
            {#border-bottom-left-radius: 0;#}
            {#}#}

            {#.form-signin input[type="password"] {#}
            {#margin-bottom: 10px;#}
            {#border-top-left-radius: 0;#}
            {#border-top-right-radius: 0;#}
            {#}#}
            {#</style>#}
            {#{% endblock %}#}
            {#&#123;&#35;xxx&#35;&#125;#}
            {#{% include "ausgeloggt.html.twig" %}#}
            {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
        {% endif %}
    </div>

    {#</a>#} {% block content %}{% endblock %}

    <div class="container">

        <br><br><br>
        <div>
            {% block bottomnav %}
                {% include 'bottomnav.html.twig' %}
            {% endblock %}
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% block javascripts %}

    <!-- JavaScript jQuery code from Bootply.com editor  -->

    <script type='text/javascript'>

        $(document).ready(function () {

            $('.subnav').affix({
                offset: {
                    top: $('#navtop').height()
                }
            });


        });

    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-40413119-1', 'bootply.com');
        ga('send', 'pageview');
    </script>
{% endblock %}


<!-- Trigger the modal with a button
<button type="button" class="btn btn-default btn-sm"
        href="{{ path('registration_register_user_modal') }}" data-toggle="modal"
        data-target="#registerPopup">Registrieren
</button> -->

<!-- Modal -->
<!-- Register Popup -->
<div class="modal fade" id="registerPopup" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Email Adresse hinzufügen</h4>
            </div>
            <div class="modal-body">
                <div class="text">
                    Lade Formular
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="loginPopup" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Email Adresse hinzufügen</h4>
            </div>
            <div class="modal-body">
                <div class="text">
                    Lade Formular
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>