<!-- app/Resources/FOSUserBundle/views/topnav.html.twig -->
<!-- NAVIGATION STARTS
   ========================================================================= -->
<section id="navigation">
    <nav class="navbar navbar-inverse navbar-default navbar-fixed-top" data-spy="affix" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                            class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                            <a href="{{ path('homepage') }}">
                                <span style="width: 100px; font-weight: 200; font-size: 18px"> Meine Projekte </span>
                                <br>
                                <span style="width: 100px; font-weight: 200; font-size: 12px">anzeigen und bearbeiten</span>
                            </a>
                        {% if user is defined %}
                            <li>
                                <a href="{{ path('display_current_person') }}">
                                    <span style="width: 100px; font-weight: 200; font-size: 18px">
                                        {% if user.person.vorname != null and user.person.vorname != '' and user.person.nachname != null and user.person.nachname != '' %}
                                            {{ user.person.vorname }} {{ user.person.nachname }}
                                        {% else %}
                                            {{ user.username }}
                                        {% endif %}
                                    </span>
                                    <br>
                                    <span style="width: 100px; font-weight: 200; font-size: 12px"> Profil bearbeiten</span>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('display_current_person') }}"> Profil bearbeiten</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">
                                <span style="width: 100px; font-weight: 200; font-size: 18px"> Dokumentation </span>
                                <br>
                                <span style="width: 100px; font-weight: 200; font-size: 12px">Anleitung, Hilfe & Beispiele </span>

                            </a>
                        </li>
                        <li>
                            <a href="#zweitens">
                                <span style="width: 100px; font-weight: 200; font-size: 18px"> Kontakt </span>
                                <br>
                                <span style="width: 100px; font-weight: 200; font-size: 12px">Social, Mail & Impressum </span>

                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <span style="width: 100px; font-weight: 200; font-size: 18px"> Abmelden</span>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="#zweitens">
                                <span style="width: 100px; font-weight: 200; font-size: 18px"> Kontakt </span>
                                <span style="width: 100px; font-weight: 200; font-size: 14px"><br>Kontakt & Impressum </span>

                            </a>
                        </li>
                        <li>
                            <a href="#"> </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">
                                <span style="width: 100px; font-weight: 200; font-size: 18px"> Anmelden </span>
                                <span style="width: 100px; font-weight: 200; font-size: 14px"><br>Bestehendes Profil</span>

                            </a>
                        </li>
                        <li>
                            <a href="{{ path('registration_register_user') }}">
                                <span style="width: 100px; font-weight: 200; font-size: 18px"> Registrieren </span>
                                <span style="width: 100px; font-weight: 200; font-size: 14px"><br>Neues Profil</span>

                            </a>
                        </li>

                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</section>
<!-- /.NAVIGATION -->

