<!-- app/Resources/FOSUserBundle/views/topnav.html.twig -->

<!-- NAVIGATION STARTS
   ========================================================================= -->
<section id="navigation">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                            class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse">
                {#<h2 style="color: #7f7f7f">{{ headline }}</h2></div>#}
                <ul class="nav navbar-nav pull-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('homepage') }}">Meine Projekte</a>
                            {#<li><a href="{{ path('display_all_projects') }}">Projekte</a></li>#}
                            <!-- <li><a href="#"> Nachrichten</a></li>
                            <li><a href="#"> Bauforum</a></li>
                            <li><a href="#"> </a></li> -->
                        {% if user is defined %}
                            <li><a href="{{ path('display_current_person') }}">
                            {% if user.person.vorname != null and user.person.vorname != '' and user.person.nachname != null and user.person.nachname != '' %}
                                {{ user.person.vorname }} {{ user.person.nachname }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                            <span style="font-size: x-small"> Profil bearbeiten</span></a></li>
                        {% else %}
                            <li><a href="{{ path('display_current_person') }}"> Profil bearbeiten</a>
                        {% endif %}
                        <li><a href="#"> </a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Log-Out</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Log-In</a></li>
                        <li><a href="{{ path('registration_register_user') }}">Registrieren</a></li>

                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</section>
<!-- /.NAVIGATION -->

