<!-- app/Resources/FOSUserBundle/views/topnav.html.twig -->

<!-- NAVIGATION STARTS
   ========================================================================= -->
<section id="navigation">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                            class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse">
                {#{{ headline }}</div>#}

                <ul class="nav navbar-nav pull-left">
                    <li>
                        <span style="font-size: 36px; color: #61625d">
                            {% if headline is defined %}
                                {{ headline }}
                            {% endif %}
                        </span>
                        {#<br style="font-size: xx-small">#}
                        <span style="font-size: 29px; color: #61625d">
                            {% if boldheadline is defined %}
                                <br><b> {{ boldheadline }} </b>
                                {% else %}
                                <br>
                            {% endif %}
                        </span></p>
                    </li>
                    <br style="font-size: 10px">
                    <li>
                    </li>

                </ul>
                <ul class="nav navbar-nav pull-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('homepage') }}"><span
                                style="width: 100px; font-weight: 200; font-size: 21px"> Meine Projekte <span
                                    style="width: 100px; font-weight: 200; font-size: 14px"><br>anzeigen und bearbeiten</span></span></a>
                        {% if user is defined %}
                            <li><a href="{{ path('display_current_person') }}"><span
                                            style="width: 100px; font-weight: 200; font-size: 21px">
                            {% if user.person.vorname != null and user.person.vorname != '' and user.person.nachname != null and user.person.nachname != '' %}
                                {{ user.person.vorname }} {{ user.person.nachname }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                                    </span>
                                    <span style="width: 100px; font-weight: 200; font-size: 14px"> <br>Profil bearbeiten</span></a>
                            </li>
                        {% else %}
                            <li><a href="{{ path('display_current_person') }}"> Profil bearbeiten</a>
                        {% endif %}
                        <li><a href="{{ path('fos_user_security_login') }}"><span
                                        style="width: 100px; font-weight: 200; font-size: 21px"> Dokumentation <span
                                            style="width: 100px; font-weight: 200; font-size: 14px"><br>Anleitung, Hilfe & Beispiele </span></span></a>
                        </li>
                        <li><a href="#"> </a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"> <span
                                        style="width: 100px; font-weight: 200; font-size: 21px"> Abmelden</span></a>
                        </li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}"><span
                                        style="width: 100px; font-weight: 200; font-size: 21px"> Anmelden <span
                                            style="width: 100px; font-weight: 200; font-size: 14px"><br>Bestehendes Profil</span></span></a>
                        </li>
                        <li><a href="{{ path('registration_register_user') }}"><span
                                        style="width: 100px; font-weight: 200; font-size: 21px"> Registrieren <span
                                            style="width: 100px; font-weight: 200; font-size: 14px"><br>Neues Profil</span></span></a>
                        </li>

                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</section>
<!-- /.NAVIGATION -->

