<div class="container">

    {#<h1># Projekte mit meiner Beteiligung</h1>#}
    <br>
    <br>
    <br>

    <p style="font-weight: 200; font-size: 16px">Du bist bei <b>
            {% if numberOfProjects == 0 %}
                keinem Projekt
            {% elseif numberOfProjects == 1 %}
                einem Projekt
            {% else %}
                {{ numberOfProjects }} Projekten
            {% endif %}
        </b> beteiligt, egal ob als Bauherr(in), Bauleiter, Handwerker oder nur als
        Beobachter. Durch einen Klick auf <b><i>zum Projekt</i></b> des
        jeweiligen Projekts, wird das dann ausgewählte Projekt auch als aktuelles Projekt
        markiert. </p>
    <p>


    <div class="alert alert-warning fade in" style="font-weight: 200; font-size: 14px">
        {#<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>#}
        <center><strong>Achtung:</strong> Nur der Projektbesitzer kann ein Projekt auch
            löschen,
            alle anderen können das Projekt lediglich verlassen. Sowohl das Löschen als auch das
            Austreten
            aus einem Projekt geschieht im Projekt.
        </center>
    </div>

    {# Übersicht aller Projekte #}
    <table class="table table-striped">
        <tr>
            <th>
                Projekttitel
            </th>
            <th>
                Bauort
            </th>
            <th>
                Haustyp
            </th>
            <th>
                Bauträger
            </th>
            <th>
                Meine Rollen
            </th>
            <th colspan="2">
                Gesamtkosten
            </th>
        </tr>
        {% if projekte != null %}

            {% for projekt in projekte %}
                <tr>
                    <td style="width: 16%">
                        <p>{{ projekt.getName() }}</p>
                    </td>
                    <td style="width: 18%">
                        {% if projekt.getGrundstueck != null %}
                            {{ projekt.getGrundstueck.getStrasse() }} {{ projekt.getGrundstueck.getHausnummer() }} <br> {{ projekt.getGrundstueck.getPostleitzahl }} {{ projekt.getGrundstueck.getOrt }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td style="width: 10%">
                        {% if projekt.getHaus != null %}
                            {{ projekt.getHaus.getHausTyp.getName }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td style="width: 16%">
                        {#{% if projekt.Haus != null %}#}
                        {#{% if projekt.Haus.getBautraeger != null %}#}
                        {#{{ projekt.getHaus.getBautraeger.getName }}#}
                        {#{% else %}#}
                        {#-#}
                        {#{% endif %}#}
                        {#{{ projekt.getHaus.getHausTyp }}#}
                        {#{% else %}#}
                        {#-#}
                        {#{% endif %}#}
                        -
                    </td>
                    <td style="width: 10%">
                        {% for rolle in person.getPersonenRollenByProjekt(projekt) %}
                            {{ rolle.getName }}
                        {% endfor %}
                    </td>
                    <td style="width: 20%">

                        <b>365.432,98 Euro (inkl MwSt.)</b><br>
                        {#<span style="font-size: x-small">Grundstück 99.980,00 Euro (inkl MwSt.)<br>#}
                        {#+ Haus 128.132,98 Euro (inkl MwSt.)<br>#}
                        {#+ Nebenkosten 52.348,98 Euro (inkl MwSt.)<br>#}
                        {#- Gutschriften 3.412,17 Euro (inkl MwSt.)<br>#}
                        {#+ Außenanlagen 33.632,42 Euro (inkl MwSt.)<br>#}
                        {#+ Inneneinrichtung 16.242,00 Euro (inkl MwSt.)</span>#}
                    </td>
                    <td style="width: 10%" align="right">
                        <a class="btn btn-linkfx btn-xs"
                           href="{{ path('display_project_by_project_id', {'projektId': projekt.getId()}) }}"
                           role="button">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Projekt öffnen</a>
                    </td>
                </tr>
            {% endfor %}

        {% else %}
            <tr>
                <td colspan="6" align="center">
                    Du nimmst an noch gar keinem Projekt teil.
                </td>
            </tr>
        {% endif %}
    </table>
    <table class="table table-condensed">
        <tr>
            <td colspan="6" align="right">
                <!-- Trigger the modal with a button -->
                <a class="btn btn-link-fx-brightblue btn-xs"
                   href="{{ path('add_projekt_modal') }}" role="button" data-toggle="modal"
                   data-target="#addProjektPopup">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neues Projekt anlegen</a>
            </td>
        </tr>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="addProjektPopup" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Neues Projekt anlegen</h4>
                </div>
                <div class="modal-body">
                    <div class="text">
                        Lade Formular
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>