{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}


<div class="adressen_update_user">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <br><br>
            <h2>Profil anlegen</h2>
            <br><br>
            <div>
                <h4>Benutzer</h4>
                <div class="text">
                    Wir fangen klein an, zunächst einmal legen wir dir einen Benutzer an. Such dir einen Benutzernamen
                    aus, wähle deine lieblings Emailadresse und gib dem ganzen ein Passwort. Rechts gibt es ein paar
                    kleine Hinweise zu dem Ganzen.
                    <br><br>
                    {{ form_start(form) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword.first) }}
                    {{ form_row(form.plainPassword.second) }}
                    <div>
                        <br>
                        <input type="submit" class="btn btn-default btn-sm" value="Benutzer anlegen">
                    </div>
                    {{ form_end(form) }}
                </div>

            </div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <br><br>
            <h2 style="color: #FFFFFF;"> .</h2>
            <br><br>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <br><br>
            <h2 style="color: #FFFFFF;"> .</h2>
            <br><br>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>
