<span style="font-size: small; color: #61625d">
    <!-- Three columns of text below the carousel -->
    {#<div class="container">#}

    {% include "Projekte/display_parts/house/internal_extras/details/subnav.html.twig" %}
    {# HINWEISE #}
    {#<br><br>#}
    <br>
    {#<br>#}
    {#<div class="collapse out" id="collapseInfo">#}
    {#<div class="alert alert-warning fade in">#}
    {#<left>#}
        <div align="center">
        <span style="font-size: 16px; font-weight: 200" align="center">
                    Hier findet die Verwaltung für das interne Extra <b style="font-size: 22px">{{ internalExtra.getName }}</b> für euer künftiges Eigenheim statt.<br>
                    Bisher gibt es hierzu <b>
                {% if internalExtra.getChildren|length > 0 %}
                    {{ internalExtra.getChildren|length }}
                {% else %}
                    keine
                {% endif %}
                Unterpunkte</b>.
        </span>
            </div>
        <hr>
                {#</left>#}
    <div class="row">

            {# LINKE SEITE#}
        {% include "Projekte/display_parts/house//internal_extras/details/display_parts/left.html.twig" %}
        {# MITTELTEIL #}
        {% include "Projekte/display_parts/house//internal_extras/details/display_parts/center.html.twig" %}
        {# RECHTER TEIL#}
        {% include "Projekte/display_parts/house//internal_extras/details/display_parts/right.html.twig" %}
        </div>
        <div>
            <div>
                <br>
                <br>

                {#<span style="font-weight: 200; font-size: 26px">Unterpunkte#}

                <h4 align="center"
                    style="background: rgba(249, 249, 249, 0.5);
                    border: 1px solid #b6b6b6;
                    font-family: 'CANDYINC';
                    color: #61625d;
                    /*color: #d94a37;*/
                    font-size: 33px;
                    border-radius: 3px">Unterpunkte
                </h4>

                {#<br>#}

                {#<sup><button type="button" class="btn btn-linkfxbrt btn-xs" data-toggle="collapse"#}
                {#href="{{ path('homepage') }}"#}
                {#style="font-weight: 200; font-size: 12px"#}
                {#role="button">#}
                {#data-target="#collapseInfoUnterpunkte"><span class="glyphicon glyphicon-info-sign"#}
                {#aria-hidden="true"></span> Hinweis ein-/ausblenden </button></sup>#}
                {#</span>#}
                {# HINWEIS UNTERPUNKTE #}
                <div class="collapse in" id="collapseInfoUnterpunkte"><br>

                    {#<div class="alert alert-warning fade in">#}
                    <left><p style="font-size: 14px; font-weight: 200">
                            Es besteht die Möglichkeit Unterpunkete zu den einzelnen Extras zu erstellen, um die gesamte
                            Aufstellung
                            möglichst feingranular darzustellen. Bei den internen Extras, die direkt bei dem Bauträger
                            geordert
                            werden,
                            macht das vielleicht noch nicht so viel Sinn. Im weiteren Verlauf z.B. bei den Nabenkosten
                            oder bei den
                            Tätigkeiten ist diese Mögichkeit sehr viel hilfreicher.</p>
                        </left>
                    {#</div>#}
                </div>
                <table class="table table-condensed">
                    {% if internalExtra.hasChildren %}
                    <tr>
                        <th style="width: 21%">
                            Extra
                        </th>
                        <th style="width: 18%">
                            Ausführende Firma
                        </th>
                        <th style="width: 3%">Status</th>
                        <th style="width: 10%">
                            Einzelpreis
                        </th>
                        <th style="width: 6%">
                            Anzahl
                        </th>
                        <th style="width: 6%">
                            Einheit
                        </th>
                        <th style="width: 14%">
                            Gesamtpreis
                            {#<span style="font-size: x-small">  inkl. MwSt.<br>(ohne Unterpunkte)</span>#}
                        </th>
                        <th style="width: 4%"></th>
                    </tr>
                    {% for subExtra in internalExtra.getChildren %}
                        <tr>
                            <td>
                                {{ subExtra.getName }}
                            </td>
                            <td>

                            </td>
                            <td>
                                {% if subExtra.getKostenIst %}
                                    Ist
                                {% else %}
                                    Plan
                                {% endif %}

                            </td>
                            <td>
                                {% if subExtra.getKostenIst %}
                                    {{ subExtra.getKostenInklMwsT(subExtra.getKostenIst)|number_format(2, ',', '.') }} €
                                    <span style="font-size: x-small"> (inkl. MwSt.) </span>
                                    <br>
                                    <span style="font-size: x-small"> {{ subExtra.getKostenExklMwsT(subExtra.getKostenIst)|number_format(2, ',', '.') }}
                                        € </span>
                                    <span style="font-size: xx-small"> (exkl. MwSt.) </span>
                                {% elseif subExtra.getKostenPlan %}
                                    {{ subExtra.getKostenInklMwsT(subExtra.getKostenPlan)|number_format(2, ',', '.') }} €
                                    <span style="font-size: x-small"> (inkl. MwSt.) </span>
                                    <br>
                                    <span style="font-size: x-small"> {{ subExtra.getKostenExklMwsT(subExtra.getKostenPlan)|number_format(2, ',', '.') }}
                                        € </span>
                                    <span style="font-size: xx-small"> (exkl. MwSt.) </span>
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                            <td>
                                {% if subExtra.getAnzahl %}
                                    {{ subExtra.getAnzahl }}
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                            <td colspan="2"></td>
                            <td align="right">
                                <button type="button"
                                        class="btn btn-linkfxbrt btn-xs"
                                        aria-label="Left Align"
                                        style="font-weight: 200; font-size: 14px">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Bearbeiten
                                </button>
                                <br>
                                <button type="button"
                                        class="btn btn-linkfxred btn-xs"
                                        style="font-weight: 200; font-size: 14px"
                                        aria-label="Left Align">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Löschen
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td align="right" colspan="9">
                            <button type="button" class="btn btn-link-fx-brightblue btn-xs" aria-label="Left Align"
                                    style="font-weight: 200; font-size: 14px">
                                <span class="glyphicon glyphicon-object-align-left" aria-hidden="true"></span>
                                Unterpunkt hinzufügen
                            </button>
                        </td>
                    </tr>
                </table>
            {% else %}
                <table class="table table-condensed" style="border-color: #ececec">
                    <tr>
                        <td colspan="9" align="center">
                            Noch wurde kein Unterpunkt hinzugefügt.
                        </td>
                    </tr>
                    <tr>
                        <td align="right" colspan="9">
                            <a type="button" class="btn btn-link-fx-brightblue btn-xs" aria-label="Left Align"
                               style="font-weight: 200; font-size: 14px">
                                <span class="glyphicon glyphicon-object-align-left" aria-hidden="true"></span>
                                Unterpunkt hinzufügen
                            </a>
                        </td>
                    </tr>
                </table>
                {% endif %}
                <hr>
            </div>
        </div>
    </div>

    <!-- Modal -->
                <div class="modal fade" id="addInternExtra" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        style="font-weight: 200; font-size: 14px">&times;</button>
                                <h4 class="modal-title">Extra hinzufügen</h4>
                            </div>
                            <div class="modal-body">
                                <div class="text">
                                    Lade Formular
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
</span>
