{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div>
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 align="center" style="background: rgba(249, 249, 249, 0.5);
            border: 1px solid #b6b6b6;
            font-family: 'CANDYINC';
            color: #61625d;
            /*color: #d94a37;*/
            font-size: 33px;
            border-radius: 3px">
                Personendaten bearbeiten
            </h4>
            <br>
            <div align="center">
                <span>Herzlichen Glückwunsch, du scheinst geheiratet zu haben oder es gab einen anderen guten Grund deinen
                    Namen zu ändern (z.B. eine Scheidung), ändere gleich deinen Namen
                </span><br>
            </div>

        </div>
        <div class="modal-body">
            {{ form_start(form, {'action': path('edit_current_person')}) }}
            <table style="width: 100%">
                <tr>
                    <td style="width: 68%">
                        <table>
                            <tr>
                                <td style="width: 100%">
                                    <table style="width: 100%">
                                        <tr>
                                            <td style="width: 28%">
                                                {{ form_row(form.titel) }}
                                            </td>
                                            <td style="width: 4%"></td>
                                            <td style="width: 68%">
                                                {{ form_row(form.geschlecht) }}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 100%">
                                    <table style="width: 100%">
                                        <tr>
                                            <td style="width: 48%">
                                                {{ form_row(form.vorname) }}
                                            </td>
                                            <td style="width: 4%"></td>
                                            <td style="width: 48%">
                                                {{ form_row(form.nachname) }}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </td>
                    <td style="width: 2%; border-right: 1px solid #b6b6b6;"></td>
                    <td style="width: 2%"></td>
                    <td style="width: 38%">
                        <table>
                            <tr>
                                <td style="font-size: 16px; font-weight: 200">
                                    Hinweise:
                                    <span style="font-size: 14px; font-weight: 200">
                                    <br><br>
                                    Hier fällt mir einfach nicht ein, was ich als Hinweis mit auf den Weg geben könnte.
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <div>

                <hr>
                <button type="submit" class="btn-link-fx-greyred btn-xs">
                    {#<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>#}
                    Speichern
                </button>

                <button type="submit" class="btn-link-fx-redred btn-xs">
                    Abbrechen
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>