{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div>

    <!-- Modal content-->
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Grundstück hinzufügen</h4>
        </div>
        <div class="modal-body">
            <div class="text">
                <p>Umgezogen? Zweitwohnung? Oder doch ein neues Haus? Wie ist denn die neuen Adresse.</p><br>
            </div>
            <div class="text">
                {{ form_start(form, {'action': path('add_grundstueck_to_current_projekt_modal', {'projektId': projekt.getId()})}) }}
                <table>
                    <tr>
                        <td style="width: 100%">
                            <table>
                                <tr>
                                    <td style="width: 70%">
                                        {{ form_row(form.strasse) }}
                                    </td>
                                    <td style="width: 30%">
                                        {{ form_row(form.hausnummer) }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%">
                            {{ form_row(form.zusatz) }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%">
                            <table>
                                <tr>
                                    <td style="width: 30%">
                                        {{ form_row(form.postleitzahl) }}
                                    </td>
                                    <td style="width: 70%">
                                        {{ form_row(form.ort) }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%">

                            <table>
                                <tr>
                                    <td style="width: 100%">
                                        {{ form_row(form.bundesland) }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%">

                            <table>
                                <tr>
                                    <td style="width: 30%">
                                        {{ form_row(form.groesse) }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%">
                            <table>
                                <tr>
                                    <td style="width: 50%">
                                        {{ form_row(form.kaufpreis) }}
                                    </td>
                                    <td style="width: 50%">
                                        {{ form_row(form.erschiessungskostenanteil) }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div>
                    <br>
                    <input type="submit" class="btn btn-default btn-sm" value="hinzufügen">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

</div>
