{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div>

    <!-- Modal content-->
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>

            <div class="text">
                <h3>Was für ein Haus darf es denn werden?</h3><br><br>
            </div>
        </div>
        <div class="modal-body">
            <div class="text">
                Dann wollen wir mal anfangen das künftige Traumhaus zu erfassen und fangen mit ein wenigen Hausfakten
                an.
                Keine Angst, es ist nichts in Stein gemeißelt und kann später noch angepasst werden. Es spricht also
                nicht dagegen einfach mal ein wenig auszuprobieren.
                {{ form_start(form, {'action': path('add_haus_to_current_projekt_modal', {'projektId': projekt.getId()})}) }}
                <hr>
                <table width="100%">
                    <tr>
                        <td style="width: 100%">
                            <table>
                                <tr>
                                    <td colspan="2">
                                        <h4>Haus
                                            <button type="button" class="btn btn-link btn-xs" data-toggle="collapse"
                                                    data-target="#collapseInfoHaus">
                                                Hinweis ein-/ausblenden
                                            </button>
                                        </h4>
                                        {# Hauspreishinweis #}
                                        <div class="collapse out" id="collapseInfoHaus"><br>
                                            <div class="alert alert-warning fade in">
                                                <left>
                                                    Egal ob Einfamilien- oder Friesenhaus, Stadthausvilla oder doch
                                                    irgendwas ganz anderes, suche dir hier aus, was für ein Haus du
                                                    bauen
                                                    möchtest.
                                                </left>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 20%">
                                        {{ form_row(form.haustyp) }}
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <hr>
                <table width="100%">
                    <tr>
                        <td style="width: 100%">
                            <table>
                                <tr>
                                    <td colspan="4">
                                        <h4>Wohnfläche
                                            <button type="button" class="btn btn-link btn-xs" data-toggle="collapse"
                                                    data-target="#collapseInfoFlaeche">
                                                Hinweis ein-/ausblenden
                                            </button>
                                        </h4>
                                        {# Hauspreishinweis #}
                                        <div class="collapse out" id="collapseInfoFlaeche"><br>
                                            <div class="alert alert-warning fade in">
                                                <left>
                                                    Im Prinzip ist es an dieser Stelle nicht wichtig, ob die
                                                    <strong><i><u>Wohnfläche nach WoFiv</u></i></strong>,
                                                    <strong><i><u>nach Din</u></i></strong> oder beides eingetragenwird.
                                                    Wichtig
                                                    ist die Berücksichtigung, dass es unterschiedliche Berechnungen
                                                    gibt, bei dem Vergleich von Häusern unterschiedlicher Bauträger.
                                                    Es gitl: im gleichen Haus hat die Wohnfläche nach Din einen größeren
                                                    Wert
                                                    als Wohnfläche nach WoFiv.
                                                </left>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 38%">
                                        {{ form_row(form.wohnflaecheWoFiv) }}
                                    </td>
                                    <td style="width: 4%"></td>
                                    <td style="width: 38%">
                                        {{ form_row(form.wohnflaecheDin) }}
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <hr>
                <table>
                    <tr>
                        <td style="width: 100%">
                            <table>
                                <tr>
                                    <td colspan="2">
                                        <h4>Kosten
                                            <button type="button" class="btn btn-link btn-xs" data-toggle="collapse"
                                                    data-target="#collapseInfoPreis">
                                                Hinweis ein-/ausblenden
                                            </button>
                                        </h4>
                                        {# Hauspreishinweis #}
                                        <div class="collapse out" id="collapseInfoPreis"><br>
                                            <div class="alert alert-warning fade in">
                                                <left>
                                                    Bau <strong><i><u>mit</u></i> Bauträger /
                                                        Generalunternehmer:</strong>
                                                    Wenn du ein Haus bei einem
                                                    Bauträger oder
                                                    Generalunternehmer kaufst, dann bekommst du einen Preis genannt,
                                                    den das
                                                    Unternehmen gerne für
                                                    dein Haus überwiesen bekommen möchte. Diesen Betrag solltest du
                                                    hier
                                                    eintragen. <br><br>

                                                    Bau <strong><i><u>ohne</u></i> Bauträger /
                                                        Generalunternehmer:</strong>
                                                    In diesem Fall wirst du keinen Kaufpreis haben, der Preis des
                                                    Hauses
                                                    wird ausschließlich über die Einzelkosten der auszuführenden
                                                    Tätigkeiten
                                                    <span style="font-size: x-small">(kommt etwas weiter unten, wenn dein Haus angelegt wurde)</span>
                                                    ermittelt.
                                                </left>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 20%">
                                        {{ form_row(form.kaufpreis) }}
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
                <div>
                    <br>
                    <input type="submit" class="btn btn-default btn-sm" value="hinzufügen">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

</div>
