<div>
    <h3>Haus</h3>
</div>
Hier gibt es nun die nötigten Infos wie <b>Haustyp, Größe, Preis, etc.</b> zu dem Traumhaus. Desweiteren
wird
hier eine Liste sämtlicher Extras aufgeführt und eine Liste der auszuführenden Tätigkeiten. In den
jeweiligen
Detailansichten können Elemente hinzugefügt werden, dort habe ich auch praktische Beispiele aufgelistet,
so
dass
sich die Nutzung von selbst erklären sollte.

{# Button zum toggeln der Collapse Funktion #}
<br><br>
<button type="button" class="btn btn-default btn-xs" data-toggle="collapse"
        data-target="#collapseHaus">
    Einträge ein-/ausblenden
</button>
<br><br>

{# Collapsable div #}
<div class="collapse in" id="collapseHaus">
    <table class="table table-condensed">
        <tr>
            <th style="width: 10%">
                Haustyp
            </th>
            <th style="width: 13%">
                Größe <br><span style="font-size: x-small">(DIN / WoFIV)</span>
            </th>
            <th style="width: 17%">
                Hausname <br><span style="font-size: x-small">(aus dem Katalog, wenn vorhaden)</span>
            </th>
            <th style="width: 18%">
                Bauträger
            </th>
            <th style="width: 24%" colspan="1">
                Hauspreis <br><span style="font-size: x-small">(Grundpreis + interne Extras)</span>
            </th>
            <th style="width: 18%" colspan="2">
                weitere Hauskosten
            </th>
        </tr>


        {% if projekt.getHaus != null %}
            <tr>
                <td>
                    {{ projekt.getHaus.getHausTyp.getName }}
                </td>
                <td>
                    {{ projekt.getHaus.getWohnflaecheDin|number_format(2, ',', '.') }}m²
                    / {{ projekt.getHaus.getWohnflaecheWoFiv|number_format(2, ',', '.') }}m²
                </td>
                <td>
                    FH155
                </td>
                <td>
                    Team Massivhaus
                </td>
                <td>
                    {{ (projekt.getHaus.getKaufpreis + projekt.getGesamtKostenInklMwstByKurzname('IE') )|number_format(2, ',', '.') }}
                    Euro (inkl MwSt.)<br>
        <span style="font-size: x-small">Grundpreis {{ projekt.getHaus.getKaufpreis|number_format(2, ',', '.') }} Euro (inkl MwSt.)<br>
        + interne Extras {{ projekt.getGesamtKostenInklMwstByKurzname('IE')|number_format(2, ',', '.') }} Euro (inkl MwSt.)</span>
                </td>
                <td>55.000,00 Euro (inkl. MwSt.)</td>
            </tr>
            <tr>

            </tr>
            <tr>
                <td colspan="7" style="font-size: small" align="center"><b>Aufgegliedert in den
                        Hauspreis,
                        Kosten für Extras die der Bauträger direkt mit verkauft, Kosten für Extras und
                        Leistungen von weiteren Dienstleistern und die Auszuführenden Arbeiten, die dazu
                        notwendig sind, um das Haus fertig zu stellen.</b></td>
            </tr>
            <tr>
                <td colspan="7" style="font-size: small">
                    <table class="table table-condensed" style="border: hidden">
                        <tr>
                            <th colspan="7">Haus</th>
                        </tr>
                        <tr style="border: hidden">
                            <td style="width: 20%">Grundpreis Friesenhaus:</td>
                            <td colspan="3" style="width: 50%">Team Massivhaus</td>
                            <td style="font-size: small">+128.500,00 Euro (inkl. MwSt.)</td>
                            <td style="font-size: small" align="right">
                                <button type="button" class="btn btn-linkfx btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Bearbeiten
                                </button>
                                <br>
                                <button type="button" class="btn btn-linkfxred btn-xs" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Löschen
                                </button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="7" style="font-size: small">
                    <table class="table table-condensed" style="border: hidden">
                        <tr>
                            <th colspan="5">interne Extrakosten</th>
                            <td style="font-size: small" align="right">
                                <a class="btn btn-link-fx-brightblue btn-xs"
                                   href="{{ path('display_intern_extras_by_projekt', {'projektId': projekt.getId()}) }}"
                                   role="button">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neuer Eintrag </a>
                            </td>
                        </tr>
                        {% for internExtra in projekt.getRolleByTypKurzname('IE') %}
                            <tr style="border: hidden">
                                <td style="width: 20%">
                                    - {{ internExtra.getName }}
                                </td>
                                <td style="width: 15%">
                                    Team Massivhaus
                                </td>
                                <td style="width: 20%">
                                </td>
                                <td style="width: 15%">
                                    {{ internExtra.getKostenInklMwsT|number_format(2, ',', '.') }} Euro (inkl. MwSt.)
                                </td>
                                <td></td>
                                <td style="font-size: small" align="right">
                                    <a class="btn btn-linkfx btn-xs"
                                       href="{{ path('display_intern_extras_by_projekt', {'projektId': projekt.getId()}) }}"
                                       role="button">
                                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                        Details
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {#<tr style="border: hidden">#}
                        {#<td style="width: 20%">#}
                        {#- Massive Innenwände im OG#}
                        {#</td>#}
                        {#<td style="width: 15%">#}
                        {#Team Massivhaus#}
                        {#</td>#}
                        {#<td style="width: 20%">#}
                        {#</td>#}
                        {#<td style="width: 15%">#}
                        {#+2500,00 Euro (inkl MwSt.)#}
                        {#</td>#}
                        {#<td></td>#}
                        {#<td style="font-size: small" align="right">#}
                        {#<a class="btn btn-linkfx btn-xs"#}
                        {#href="{{ path('display_intern_extras_by_projekt', {'projektId': projekt.getId()}) }}"#}
                        {#role="button">#}
                        {#<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Details#}
                        {#</a>#}
                        {#</td>#}
                        {#</tr>#}
                        {#<tr>#}
                        {#<td style="width: 20%">#}
                        {#- Fugefarbe beige#}
                        {#</td>#}
                        {#<td style="width: 15%">#}
                        {#Team Massivhaus#}
                        {#</td>#}
                        {#<td style="width: 20%">#}
                        {#</td>#}
                        {#<td style="width: 15%">#}
                        {#+3000,00 Euro (inkl MwSt.)#}
                        {#</td>#}
                        {#<td></td>#}
                        {#<td style="font-size: small" align="right">#}
                        {#<a class="btn btn-linkfx btn-xs"#}
                        {#href="{{ path('display_intern_extras_by_projekt', {'projektId': projekt.getId()}) }}"#}
                        {#role="button">#}
                        {#<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Details#}
                        {#</a>#}
                        {#</td>#}
                        {#</tr>#}
                        {% if projekt.getRolleByTypKurzname('IE')|length < 1 %}
                            {% set disabled = "true" %}
                        {% else %}
                            {% set disabled = "false" %}
                        {% endif %}
                        <tr style="border: hidden">
                            <td colspan="4" style="width: 60%">Summe zzgl. interne Extrakosten: {{ disabled }}</td>
                            <td style="font-size: small">
                                {% if projekt.getGesamtKostenInklMwstByKurzname('IE') != 0 %}
                                    +{{ projekt.getGesamtKostenInklMwstByKurzname('IE')|number_format(2, ',', '.') }} Euro
                                    (inkl. MwSt.)
                                {% else %}
                                    <div align="right">Es sind keine weiteren Kosten angefallen</div>
                                {% endif %}</td>
                            <td style="font-size: small" align="right">
                                <a class="btn btn-linkfx btn-xs"
                                   href="{{ path('display_intern_extras_by_projekt', {'projektId': projekt.getId()}) }}"
                                   role="button"
                                        {% if projekt.getRolleByTypKurzname('IE')|length < 1 %}
                                            disabled
                                        {% endif %}
                                >
                                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Plan / Ist
                                    Vergleich </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="7" style="font-size: small">
                    <table class="table table-condensed" style="border: hidden">
                        <tr>
                            <th colspan="5">Weitere Hauskosten:</th>
                            <td style="font-size: small" align="right">
                                <a class="btn btn-link-fx-brightblue btn-xs"
                                   href="{{ path('display_intern_extras_by_projekt', {'projektId': projekt.getId()}) }}"
                                   role="button">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neuer Eintrag </a>
                            </td>
                        </tr>
                        {% for externExtra in projekt.getRolleByTypKurzname('EE') %}
                            <tr style="border: hidden">
                                <td style="width: 20%">
                                    - {{ internExtra.getName }}
                                </td>
                                <td style="width: 15%">
                                    Team Massivhaus
                                </td>
                                <td style="width: 20%">
                                </td>
                                <td style="width: 15%">
                                    {{ internExtra.getKostenInklMwsT|number_format(2, ',', '.') }} Euro inkl. MwSt.
                                </td>
                                <td></td>
                                <td style="font-size: small" align="right">
                                    <a class="btn btn-linkfx btn-xs"
                                       href="{{ path('display_intern_extras_by_projekt', {'projektId': projekt.getId()}) }}"
                                       role="button">
                                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                        Details
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {#<tr style="border: hidden">#}
                        {#<td style="width: 20%">#}
                        {#- Massive Innenwände im OG#}
                        {#</td>#}
                        {#<td style="width: 15%">#}
                        {#Friederichs Baugeschäft#}
                        {#</td>#}
                        {#<td style="width: 20%">#}
                        {#</td>#}
                        {#<td style="width: 15%">#}
                        {#+2500,00 Euro (inkl MwSt.)#}
                        {#</td>#}
                        {#<td></td>#}
                        {#<td style="font-size: small" align="right">#}
                        {#<a class="btn btn-linkfx btn-xs"#}
                        {#href="{{ path('display_intern_extras_by_projekt', {'projektId': projekt.getId()}) }}"#}
                        {#role="button">#}
                        {#<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Details#}
                        {#</a>#}
                        {#</td>#}
                        {#</tr>#}
                        {#<tr>#}
                        {#<td style="width: 20%">#}
                        {#- Fugefarbe beige#}
                        {#</td>#}
                        {#<td style="width: 15%">#}
                        {#Friederichs Baugeschäft#}
                        {#</td>#}
                        {#<td style="width: 20%">#}
                        {#</td>#}
                        {#<td style="width: 15%">#}
                        {#+3000,00 Euro (inkl MwSt.)#}
                        {#</td>#}
                        {#<td></td>#}
                        {#<td style="font-size: small" align="right">#}
                        {#<a class="btn btn-linkfx btn-xs"#}
                        {#href="{{ path('display_intern_extras_by_projekt', {'projektId': projekt.getId()}) }}"#}
                        {#role="button">#}
                        {#<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Details#}
                        {#</a>#}
                        {#</td>#}
                        {#</tr>#}
                        <tr style="border: hidden">
                            <td colspan="4" style="width: 60%">Summe zzgl. Hauskosten:</td>
                            <td style="font-size: small" align="right">
                                {% if projekt.getGesamtKostenInklMwstByKurzname('EE') != 0 %}
                                    +{{ projekt.getGesamtKostenInklMwstByKurzname('EE')|number_format(2, ',', '.') }} Euro
                                    (inkl. MwSt.)
                                {% else %}
                                    <div align="right">Es sind keine weiteren Kosten angefallen</div>
                                {% endif %}</td>
                            <td align="right">
                                <a class="btn btn-linkfx btn-xs"
                                   href="{{ path('display_intern_extras_by_projekt', {'projektId': projekt.getId()}) }}"
                                   role="button"
                                        {% if projekt.getRolleByTypKurzname('EE')|length < 1 %}
                                            disabled
                                        {% endif %}
                                >
                                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Plan / Ist
                                    Vergleich </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="7" style="font-size: small">
                    <table class="table table-condensed" style="border: hidden">
                        <th colspan="5">Auszuführende Arbeiten:</th>
                        <td style="font-size: small" align="right">
                            <a class="btn btn-link-fx-brightblue btn-xs"
                               href="{{ path('display_intern_extras_by_projekt', {'projektId': projekt.getId()}) }}"
                               role="button">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neuer Eintrag </a>
                        </td>
                        {% for taetigkeit in projekt.getRolleByTypKurzname('T') %}
                            <tr style="border: hidden">
                                <td style="width: 20%">
                                    - {{ internExtra.getName }}
                                </td>
                                <td style="width: 15%">
                                    Team Massivhaus
                                </td>
                                <td style="width: 20%">
                                </td>
                                <td style="width: 15%">
                                    {{ internExtra.getKostenInklMwsT|number_format(2, ',', '.') }} Euro inkl. MwSt.
                                </td>
                                <td></td>
                                <td style="font-size: small" align="right">
                                    <a class="btn btn-linkfx btn-xs"
                                       href="{{ path('display_intern_extras_by_projekt', {'projektId': projekt.getId()}) }}"
                                       role="button">
                                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                        Details
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {#<tr style="border: hidden">#}
                        {#<td style="width: 20%">#}
                        {#- Fundament / Sohle#}
                        {#</td>#}
                        {#<td style="width: 15%">#}
                        {#Friederichs Baugeschäft#}
                        {#</td>#}
                        {#<td style="width: 20%">#}
                        {#gepl. Termin 01.08.2016 - 15.08.2016#}
                        {#</td>#}
                        {#<td style="width: 15%">#}
                        {#</td>#}
                        {#<td></td>#}
                        {#<td style="font-size: small" align="right">#}
                        {#<a class="btn btn-linkfx btn-xs"#}
                        {#href="{{ path('display_intern_extras_by_projekt', {'projektId': projekt.getId()}) }}"#}
                        {#role="button">#}
                        {#<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Details#}
                        {#</a>#}
                        {#</td>#}
                        {#</tr>#}
                        {#<tr>#}
                        {#<td style="width: 20%">#}
                        {#- Elektro Vorinstallation (Teil1)#}
                        {#</td>#}
                        {#<td style="width: 15%">#}
                        {#Wendland#}
                        {#</td>#}
                        {#<td style="width: 20%">#}
                        {#gepl. Termin: 16.08.2016 - 29.08.2016#}
                        {#</td>#}
                        {#<td style="width: 15%">#}
                        {#</td>#}
                        {#<td></td>#}
                        {#<td style="font-size: small" align="right">#}
                        {#<a class="btn btn-linkfx btn-xs"#}
                        {#href="{{ path('display_intern_extras_by_projekt', {'projektId': projekt.getId()}) }}"#}
                        {#role="button">#}
                        {#<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Details#}
                        {#</a>#}
                        {#</td>#}
                        {#</tr>#}
                        <tr style="border: hidden">
                            <td colspan="4" style="width: 60%">Summe zzgl. Handwerker Kosten:</td>
                            <td style="font-size: small">
                                {% if projekt.getGesamtKostenInklMwstByKurzname('T') != 0 %}
                                    +{{ projekt.getGesamtKostenInklMwstByKurzname('T')|number_format(2, ',', '.') }} Euro
                                    (inkl. MwSt.)
                                {% else %}
                                    <div align="right">Es sind keine weiteren Kosten angefallen</div>
                                {% endif %}</td>
                            <td style="font-size: small" align="right">
                                <a class="btn btn-linkfx btn-xs"
                                   href="{{ path('display_intern_extras_by_projekt', {'projektId': projekt.getId()}) }}"
                                   role="button"
                                        {% if projekt.getRolleByTypKurzname('T')|length < 1 %}
                                            disabled
                                        {% endif %}
                                >
                                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Plan / Ist
                                    Vergleich </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <b>Gesamtkosten</b> <span
                            style="font-size: x-small">(Haus + interne und externe Extras + Tätigkeiten):</span>
                </td>
                <td colspan="3" align="right">
                    <b>123.456,70 Euro (inkl. MwSt.) </b>
                </td>

            </tr>
            {#<tr>#}
            {#<td colspan="7">#}
            {#<b></b>#}
            {#</td>#}

            {#</tr>#}
            <tr>
                <td colspan="7">
                    <br>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="collapse"
                            data-target="#collapseHaus">
                        Einträge ein-/ausblenden
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" align="center">
                    Noch wurde kein Haus hinzugefügt
                </td>
            </tr>
            <tr>
                <td colspan="6" align="right">
                    <br>
                    <!-- Trigger the modal with a button -->
                    <a class="btn btn-link-fx-brightblue btn-xs"
                       href="{{ path('add_haus_to_current_projekt_modal', {'projektId': projekt.getId()}) }}"
                       data-toggle="modal"
                       data-target="#addHausPopup"
                       role="button">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Haus hinzufügen </a>
                    <br><br>
                </td>
            </tr>
        {% endif %}
    </table>
    <!-- Modal -->
    <div class="modal fade" id="addHausPopup" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Haus hinzufügen</h4>
                </div>
                <div class="modal-body">
                    <div class="text">
                        Lade Formular
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<hr>