{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

<span style="font-size: small; color: #61625d">
    <div class="feeltext">
        <div class="row">
            <br><br>
            <h2># Nur schnell anmelden und es geht los</h2>
            <div class="col-md-4">
            <br><br>
                <div>
                    <div class="text">
                        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                            <label for="username"
                                   style="width: 100px; font-weight: 200; font-size: 21px">{{ 'security.login.username'|trans }}</label>
                            <input type="text"
                                   id="username"
                                   name="_username"
                                   class="form-control"
                                   style="font-weight: 200; font-size: 18px"
                                   value="{{ last_username }}"
                                   placeholder="Der von dir gewählte Benutzername" required autofocus>
                            <br>
                            <label for="password" style="width: 100px; font-weight: 200; font-size: 21px">{{ 'security.login.password'|trans }}</label>
                            <input type="password" id="password" name="_password" class="form-control"
                                   required="required"
                                   style="font-weight: 200; font-size: 18px"
                                   placeholder="********"/>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="remember-me">
                                    <span style="width: 100px; font-weight: 200; font-size: 16px">Remember me</span>
                                </label>
                            </div>
                            <br><br><br>
                            <input type="submit"
                                   class="btn btn-default btn-lg"
                                   id="_submit"
                                   name="_submit"
                                   value="einloggen"/>
                            {#{{ form_rest(form) }}#}
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feeltext">
                <p align="justify">Wenn du dich anmeldest, kannst du gleich mit deinem oder einem deiner Projekte fortfahren. Solltest du noch gar kein Projekt haben, kannst du dann natürlich eines anlegen.<br><br>
                Solltest du dich noch gar nicht registriert haben, kannst du das oben mit einem Klick auf "Registrieren" nachholen.</p>
                <br><br>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
    {% endblock fos_user_content %}

    {% block stylesheets %}
    <style>
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
</span>
{% endblock %}