{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div>
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Telefonnummer hinzufügen</h4>
        </div>
        <div class="modal-body">
            <div class="text">
                <p>Telefonnummern kann man nie genug haben, gut, dass du noch eine hinzufügen möchtest.</p><br>
            </div>
            {{ form_start(form, {'action': path('add_telephone_by_current_person')}) }}
            <table style="width: 70%">
                <tr>
                    <td style="width: 100%">
                        <table style="width: 40%">
                            <tr>
                                <td style="width: 40%">
                                    {{ form_row(form.telefonTyp) }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%">
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 18%">
                                    {{ form_row(form.vorwahl) }}
                                </td>
                                <td style="width: 4%">

                                </td>
                                <td style="width: 56%">
                                    {{ form_row(form.telefonnummer) }}
                                </td>
                                <td style="width: 4%">

                                </td>
                                <td style="width: 18%">
                                    {{ form_row(form.durchwahl) }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%">
                        <table style="width: 40%">
                            <tr>
                                <td style="width: 100%">
                                    {{ form_row(form.privatGeschaeft) }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%">
                        <hr>
                        <table style="width: 100%">
                            <tr>
                                <td align="left">
                                    <button type="submit" class="btn-linkfx btn-xs">
                                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                        Hinzufügen
                                    </button>

                                    <button type="button" class="btn-linkfxred btn-xs">
                                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                        Schließen
                                    </button>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            {{ form_end(form) }}
        </div>
    </div>
</div>