{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div>
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Benutzerdaten ändern</h4>
        </div>
        <div class="modal-body">
            <div class="text">
                <p>Hier kannst du nun deinen Benutzernamen, deine Referenzemailadresse und dein Passwort ändern.
                </p><br>
            </div>
            {{ form_start(form, {'action': path('edit_current_user')}) }}
            <table style="width: 70%">
                <tr>
                    <td style="width: 100%">
                        <table style="width: 60%">
                            <tr>
                                <td style="width: 100%">
                                    {{ form_row(form.username) }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%">
                        <table style="width: 80%">
                            <tr>
                                <td style="width: 100%">
                                    {{ form_row(form.email) }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%">
                        <table style="width: 80%">
                            <tr>
                                <td style="width: 100%">
                                    {{ form_row(form.current_password) }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100%">
                        <hr>
                        <table style="width: 100%">
                            <tr>
                                <td align="left">
                                    <button type="submit" class="btn-linkfx btn-xs">
                                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                                        Ändern
                                    </button>

                                    <button type="button" class="btn-linkfxred btn-xs">
                                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                        Schließen
                                    </button>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            {{ form_end(form) }}
        </div>
    </div>
</div>