<table class="table table-condensed" style="border-top: hidden">
    <tr style="border-bottom: hidden">
        <th colspan="7" style="font-weight: 400; font-size: 18px">Weitere Hauskosten und Extras</th>
    </tr>
    <tr>
        <td colspan="7" align="center" style="font-weight: 200; border: hidden">
            Die weiteren Kosten werden hier überwiegend durch Extras dargestellt, die unmittelbar mit dem Haus
            zu tun haben. Z.B. wäre ein solches Extra weitere Steckdosen, die zum einen (wahrscheinlich) beim
            Bauträger mitbestellt werden können, oder aber direkt mit dem Elektriker vereinbart werden.
        </td>
    </tr>
    <tr>
        <td colspan="7" align="right">

            <!-- Trigger the modal with a button -->
            <a class="btn btn-link-fx-greyred btn-xs"
               href="{{ path('add_rolle_to_current_projekt', {'projektId': projekt.getId(), 'rolletyp': 'xxx'}) }}"
               data-toggle="modal"
               data-target="#addInternalExtraPopup"
               role="button">
                <span class="glyphicon glyphicon-plus" style="font-size: 10px" aria-hidden="true"></span> Neues
                internes Extra </a>
        </td>
    </tr>
</table>

{% for group in projekt.getRollenGroups %}
<div class="container">
    {#<div class="group_fx">#}
    <div class="row group_fx">
        <table>
            <tr>
                <td style="padding-left: 15px">
                    {{ group.getName() }}
                </td>
            </tr>
        </table>
    </div>
    {#</div>#}
    <div class="row group_heading_fx">
        <table width="100%">
            <tr>
                <td width="20%" style="padding-left: 15px">
                    Objekt
                </td>
                <td width="10%" align="right">
                    Einzelpreis
                </td>
                <td width="10%" align="right">
                    Anzahl und Einheit
                </td>
                <td width="10%" align="right">
                    Kosten
                </td>
                <td width="50%">
                    <br>
                </td>
            </tr>
        </table>
    </div>
</div>


<div class="panel-group" id="accordion_{{ group.getId() }}" role="tablist" aria-multiselectable="true">

    {% for extra in group.getRollen %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne{{ extra.getId() }}">
            <h5 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion"
                   href="#extra_{{ extra.getId() }}" aria-expanded="true"
                   aria-controls="extra_{{ extra.getId() }}">

                    <table width="100%">
                        <tr>
                            <td width="14%">
                                {{ extra.getName }}
                            </td>
                            <td  valign="top" width="6%">
                                <br>
                            </td>
                            <td width="10%" align="right" style="font-weight: 200; color: #8b8b8b">
                                {% if extra.getKostenIst != null %}
                                    {{ (extra.getKostenInklMwsT(extra.getKostenIst) * extra.getAnzahl)|number_format(2, ',', '.') }}
                                {% else %}
                                    {{ (extra.getKostenInklMwsT(extra.getKostenPlan) * extra.getAnzahl)|number_format(2, ',', '.') }}
                                {% endif %}
                                €
                            </td>
                            <td width="10%" align="right" style="font-weight: 200; color: #8b8b8b">
                                {{ extra.getAnzahl }} {{ extra.getEinheit.getBezeichnung }}
                            </td>
                            <td width="10%" align="right" style="font-weight: 200; color: #8b8b8b">
                                {% if extra.getKostenIst != null %}
                                {{ (extra.getKostenInklMwsT(extra.getKostenIst) * extra.getAnzahl)|number_format(2, ',', '.') }}
                                {% else %}
                                {{ (extra.getKostenInklMwsT(extra.getKostenPlan) * extra.getAnzahl)|number_format(2, ',', '.') }}
                                {% endif %}
                                €
                            </td>
                            <td width="50%" align="right">
                                {#<button type="button" class="btn btn-link-fx-greyred btn-xs">#}
                                        {#data-toggle="collapse"#}
                                        {#data-target="#xxx_{{ extra.getId() }}">#}
                                        {#<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>#}
                                    {#Details#}
                                {#</button>#}
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: 200; font-size: 12px; color: #8b8b8b">
                                {#Status:#}
                                {#{% if extra.getKostenIst != null %}#}
                                    {#Ist#}
                                {#{% else %}#}
                                    {#Plan#}
                                {#{% endif %}#}
                                Wilke Sanitärtechnik
                            </td>
                            <td style="font-weight: 200; font-size: 12px; color: #8b8b8b" align="left">
                                Status:
                                {% if extra.getKostenIst != null %}
                                    Ist
                                {% else %}
                                    Plan
                                {% endif %}
                                {#Ausführende Firma: Wilke Sanitärtechnik#}
                            </td>
                            <td align="right" style="font-weight: 200; font-size: 12px; color: #8b8b8b">
                                {% if extra.mehrwertsteuer.isOhneMwSt %}
                                    MwSt. wird nicht angewendet
                                {% else %}
                                    inkl. MwSt.
                                {% endif %}
                            </td>
                            <td colspan="2" align="right" style="font-weight: 200; font-size: 12px; color: #8b8b8b">
                                {% if extra.mehrwertsteuer.isOhneMwSt %}
                                    MwSt. wird nicht angewendet
                                {% else %}
                                    inkl. MwSt.
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </a>
            </h5>
        </div>
        <div id="extra_{{ extra.getId() }}" class="panel-collapse collapse {{ rolle ? (rolle.getId() == extra.getId() ? 'in' : 'out') : 'out' }}" role="tabpanel"
             aria-labelledby="heading_{{ extra.getId() }}">
            <div class="panel-body">
                <table width="100%">
                    <tr>
                        <td width="8%">
                        </td>
                        <td width="8%">
                        </td>
                        <td width="8%">
                        </td>
                        <td width="8%">
                        </td>
                        <td width="8%">
                        </td>
                        <td width="8%">
                        </td>
                        <td width="8%">
                        </td>
                        <td width="8%">
                        </td>
                        <td width="8%">
                        </td>
                        <td width="8%">
                        </td>
                        <td width="8%">
                        </td>
                        <td width="8%">
                        </td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                        <td colspan="2" valign="top" align="left">
                            <b>Beschreibung</b> (wenn nötig)<b>:</b>
                        </td>
                        <td colspan="8" valign="top" align="left">
                            Hier könnte jede Menge Beschriebung zu dem Punkt stehen. Manchmal ist es gar
                            nicht notwendig, aber hin und wieder kann man mal einen Kommentar gebrauchen.
                        </td>
                        <td colspan="2" valign="top" align="right">
                            <button type="button" class="btn btn-link-fx-greyred btn-xs"
                                    data-toggle="collapse"
                                    data-target="#xxx_{{ extra.getId() }}"><span
                                        class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                Bearbeiten
                            </button>
                            <button type="button" class="btn btn-link-fx-redred btn-xs"
                                    aria-label="Left Align">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" valign="top">
                            <b>Kostenverantwortliche Firma:</b>
                        </td>
                        <td colspan="9" valign="top">
                            Team Massivhaus
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" valign="top">
                            <b>Ausführende Firma</b> (wenn vorhanden) <b>:</b>
                        </td>
                        <td colspan="9" valign="top">
                            Thies Friederichs Baugeschäft GmbH
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" valign="top">
                            <b>Kosten</b>
                        </td>
                    </tr>
                    <tr style="border-bottom: solid 1px #bcbcbc">
                        <td colspan="1" valign="top" style="font-weight: 500">
                            Status
                        </td>
                        <td colspan="1" valign="top" style="font-weight: 500">
                            Einzelpreis
                        </td>
                        <td colspan="1" valign="top" style="font-weight: 500">
                            Anzahl
                        </td>
                        <td colspan="1" valign="top" style="font-weight: 500">
                            Kosten
                        </td>
                        <td colspan="1" valign="top" style="font-weight: 500">
                            MwSt.
                        </td>
                        <td colspan="1" valign="top" style="font-weight: 500">
                            Bezahlt am
                        </td>
                        <td colspan="2" valign="top" style="font-weight: 500">
                            Rg.-Nummer
                        </td>
                        <td colspan="4" valign="top" style="font-weight: 500">
                            Kommentar
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" valign="top">
                            Plan
                        </td>
                        <td colspan="1" valign="top">
                           {{ (extra.getKostenInklMwsT(extra.getKostenPlan) * extra.getAnzahl)|number_format(2, ',', '.') }}
                        </td>
                        <td colspan="1" valign="top">
                            {{ extra.getAnzahl }} {{ extra.getEinheit.getBezeichnung }}
                        </td>
                        <td colspan="1" valign="top">
                            {{ (extra.getKostenInklMwsT(extra.getKostenPlan) * extra.getAnzahl)|number_format(2, ',', '.') }}
                        </td>
                        <td colspan="1" valign="top">
                            19%
                        </td>
                        <td colspan="3" valign="top" style="background-color: #f1f1f1; border: solid 1px #b5b5b5">
                            <br>
                        </td>
                        <td colspan="4" valign="top">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" valign="top">
                            Ist
                        </td>
                        <td colspan="1" valign="top">
                            {{ (extra.getKostenInklMwsT(extra.getKostenPlan) * extra.getAnzahl)|number_format(2, ',', '.') }}
                        </td>
                        <td colspan="1" valign="top">
                            {{ extra.getAnzahl }} {{ extra.getEinheit.getBezeichnung }}
                        </td>
                        <td colspan="1" valign="top">
                            {{ (extra.getKostenInklMwsT(extra.getKostenPlan) * extra.getAnzahl)|number_format(2, ',', '.') }}
                        </td>
                        <td colspan="1" valign="top">
                            19%
                        </td>
                        <td colspan="1" valign="top">
                            <br>
                        </td>
                        <td colspan="2" valign="top">
                            <br>
                        </td>
                        <td colspan="4" valign="top">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" valign="top">
                            Plan / Ist Vergleich
                        </td>
                        <td colspan="1" valign="top">
                            {{ (extra.getKostenInklMwsT(extra.getKostenPlan) * extra.getAnzahl)|number_format(2, ',', '.') }}
                        </td>
                        <td colspan="1" valign="top">
                            {{ extra.getAnzahl }} {{ extra.getEinheit.getBezeichnung }}
                        </td>
                        <td colspan="1" valign="top">
                            {{ (extra.getKostenInklMwsT(extra.getKostenPlan) * extra.getAnzahl)|number_format(2, ',', '.') }}
                        </td>
                        <td colspan="1" valign="top">
                            19%
                        </td>
                        <td colspan="1" valign="top">
                            <br>
                        </td>
                        <td colspan="2" valign="top">
                            <br>
                        </td>
                        <td colspan="4" valign="top">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" valign="top">
                            <b>Termine</b>
                        </td>
                    </tr>
                    <tr style="border-bottom: solid 1px #bcbcbc">
                        <td colspan="1" valign="top" style="font-weight: 500">
                            Status
                        </td>
                        <td colspan="1" valign="top" style="font-weight: 500">
                            Start
                        </td>
                        <td colspan="1" valign="top" style="font-weight: 500">
                            Ende
                        </td>
                        <td colspan="2" valign="top" style="font-weight: 500">
                            Dauer in Tagen (errechnet)
                        </td>
                        <td colspan="7" valign="top" style="font-weight: 500">
                            Kommentar
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" valign="top">
                            Ist
                        </td>
                        <td colspan="1" valign="top">
                            01.01.2017
                        </td>
                        <td colspan="1" valign="top">
                            31.01.2017
                        </td>
                        <td colspan="2" valign="top">
                            22/31 (exkl. / inkl. Wochenende))
                        </td>
                        <td colspan="7" valign="top">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" valign="top">
                            Plan
                        </td>
                        <td colspan="1" valign="top">
                            01.01.2017
                        </td>
                        <td colspan="1" valign="top">
                            31.01.2017
                        </td>
                        <td colspan="2" valign="top">
                            22/31 (exkl. / inkl. Wochenende))
                        </td>
                        <td colspan="7" valign="top">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                        </td>
                    </tr>
                </table>
                {#<div class="row">#}
                    {#<div class="col-lg-1" align="left">#}
                        {#Plan#}
                    {#</div>#}
                    {#<div class="col-lg-1" align="left">#}
                        {#01.01.2017#}
                    {#</div>#}
                    {#<div class="col-lg-1" align="left">#}
                        {#31.01.2017#}
                    {#</div>#}
                    {#<div class="col-lg-2" align="center">#}
                        {#22/31 (exkl. / inkl. Wochenende)#}
                    {#</div>#}
                    {#<div class="col-lg-7" align="left">#}
                        {#-#}
                    {#</div>#}
                {#</div>#}
                {#<div class="row">#}
                    {#<div class="col-lg-1" align="left">#}
                        {#Ist#}
                    {#</div>#}
                    {#<div class="col-lg-1" align="left">#}
                        {#01.01.2017#}
                    {#</div>#}
                    {#<div class="col-lg-1" align="left">#}
                        {#31.01.2017#}
                    {#</div>#}
                    {#<div class="col-lg-2" align="center">#}
                        {#22/31 (exkl. / inkl. Wochenende)#}
                    {#</div>#}
                    {#<div class="col-lg-7" align="left">#}
                        {#-#}
                    {#</div>#}
                {#</div>#}

            </div>
        </div>
    </div>
        {% endfor %}
    <div class="container">
        {#<div class="group_fx">#}
        <div class="row group_footer_fx">
            <div class="col-lg-12">
                Zwischensummer für {{ group.getName() }}
            </div>
        </div>
        {#</div>#}
    </div>
    <br>
    {% endfor %}

</div>