<table class="table table-condensed" style="border-top: hidden">
    <tr style="border-bottom: hidden">
        <th colspan="7" style="font-weight: 400; font-size: 18px">Weitere Hauskosten und Extras</th>
    </tr>
    <tr>
        <td colspan="7" align="center" style="font-weight: 200; border: hidden">
            Die weiteren Kosten werden hier überwiegend durch Extras dargestellt, die unmittelbar mit dem Haus
            zu tun haben. Z.B. wäre ein solches Extra weitere Steckdosen, die zum einen (wahrscheinlich) beim
            Bauträger mitbestellt werden können, oder aber direkt mit dem Elektriker vereinbart werden.
        </td>
    </tr>
    <tr>
        <td colspan="7" align="right">

            <!-- Trigger the modal with a button -->
            <a class="btn btn-link-fx-greyred btn-xs"
               href="{{ path('add_rolle_to_current_projekt', {'projektId': projekt.getId(), 'rolletyp': 'xxx'}) }}"
               data-toggle="modal"
               data-target="#addInternalExtraPopup"
               role="button">
                <span class="glyphicon glyphicon-plus" style="font-size: 10px" aria-hidden="true"></span> Neues
                internes Extra </a>
        </td>
    </tr>
</table>

{% for group in projekt.getRollenGroups %}
<div class="container">
    {#<div class="group_fx">#}
    <div class="row group_fx">
        <div class="col-lg-10">
            {{ group.getName() }} [enthält 13 Elemente]
        </div>
        <div class="col-lg-2" align="right">


        </div>
    </div>
    {#</div>#}
    <div class="row group_heading_fx">
        <div class="col-lg-4">
            Objekt
        </div>
        <div class="col-lg-2" align="right">
            Einzelpreis
        </div>
        <div class="col-lg-2" align="right">
            Anzahl und Einheit
        </div>
        <div class="col-lg-1">
            Status
        </div>
        <div class="col-lg-2" align="right">
            Kosten
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>


<div class="panel-group" id="accordion_{{ group.getId() }}" role="tablist" aria-multiselectable="true">

    {% for extra in group.getRollen %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne{{ extra.getId() }}">
            <h5 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion"
                   href="#extra_{{ extra.getId() }}" aria-expanded="true"
                   aria-controls="extra_{{ extra.getId() }}">

                    <div class="row">
                        <div class="col-lg-4">
                            {{ extra.getName }}
                        </div>
                        <div class="col-lg-2" align="right">
                            {% if extra.getKostenIst != null %}
                                {{ (extra.getKostenInklMwsT(extra.getKostenIst) * extra.getAnzahl)|number_format(2, ',', '.') }}
                            {% else %}
                                {{ (extra.getKostenInklMwsT(extra.getKostenPlan) * extra.getAnzahl)|number_format(2, ',', '.') }}
                            {% endif %}
                            €
                            <span style="font-size: x-small">

                                        {% if extra.mehrwertsteuer.isOhneMwSt %}
                                            (MwSt. wird nicht angewendet)
                                        {% else %}
                                            (inkl. MwSt.)
                                        {% endif %}
                                        </span>
                        </div>
                        <div class="col-lg-2" align="right">
                            {{ extra.getAnzahl }} {{ extra.getEinheit.getBezeichnung }}
                        </div>
                        <div class="col-lg-1">
                            {% if extra.getKostenIst != null %}
                                Ist
                            {% else %}
                                Plan
                            {% endif %}
                        </div>
                        <div class="col-lg-2" align="right">
                            {% if extra.getKostenIst != null %}
                                {{ (extra.getKostenInklMwsT(extra.getKostenIst) * extra.getAnzahl)|number_format(2, ',', '.') }}
                            {% else %}
                                {{ (extra.getKostenInklMwsT(extra.getKostenPlan) * extra.getAnzahl)|number_format(2, ',', '.') }}
                            {% endif %}
                            €
                            <span style="font-size: x-small">

                            {% if extra.mehrwertsteuer.isOhneMwSt %}
                                (MwSt. wird nicht angewendet)
                            {% else %}
                                (inkl. MwSt.)
                            {% endif %}
                                </span>
                        </div>
                        <div class="col-lg-1" align="right">
                        </div>
                    </div>
                </a>
            </h5>
        </div>
        <div id="extra_{{ extra.getId() }}" class="panel-collapse collapse out" role="tabpanel"
             aria-labelledby="headingOne_{{ extra.getId() }}">
            <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2" align="left">
                                <b>Details zu: </b> {{ extra.getName() }}
                            </div>
                            <div class="col-lg-2" align="right">
                                <b>Beschreibung</b> (wenn nötig)<b>:</b>
                            </div>
                            <div class="col-lg-6" align="left">
                                Hier könnte jede Menge Beschriebung zu dem Punkt stehen. Manchmal ist es gar
                                nicht notwendig, aber hin und wieder kann man mal einen Kommentar gebrauchen.
                            </div>
                            <div class="col-lg-2" align="right">
                                <button type="button" class="btn btn-link-fx-greyred btn-xs"
                                        data-toggle="collapse"
                                        data-target="#xxx_{{ extra.getId() }}"><span
                                            class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                    Bearbeiten
                                </button>
                                <button type="button" class="btn btn-link-fx-redred btn-xs"
                                        aria-label="Left Align">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3" align="left">
                                <b>Kostenverantwortliche Firma:</b>
                            </div>
                            <div class="col-lg-9" align="left">
                                Team Massivhaus
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-3" align="left">
                                <b>Ausführende Firma</b> (wenn vorhanden)<b>:</b>
                            </div>
                            <div class="col-lg-9" align="left">
                                Thies Friederichs Baugeschäft GmbH
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-5" align="left">
                                <b>Kosten</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1" align="left">
                                <span style="font-weight: 500">Status</span>
                            </div>
                            <div class="col-lg-1" align="right">
                                <span style="font-weight: 500">Einzelpreis</span>
                            </div>
                            <div class="col-lg-1" align="right">
                                <span style="font-weight: 500">Anzahl</span>
                            </div>
                            <div class="col-lg-1" align="right">
                                <span style="font-weight: 500">Kosten</span>
                            </div>
                            <div class="col-lg-1" align="right">
                                <span style="font-weight: 500">MwSt</span>
                            </div>
                            <div class="col-lg-1" align="left">
                                <span style="font-weight: 500">Bezahlt am</span>
                            </div>
                            <div class="col-lg-2" align="left">
                                <span style="font-weight: 500">Rg.-Nummer</span>
                            </div>
                            <div class="col-lg-1" align="left">
                                <span style="font-weight: 500">Kommentar</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1" align="left">
                                Plan
                            </div>
                            <div class="col-lg-1" align="right">
                                {{ (extra.getKostenInklMwsT(extra.getKostenPlan) * extra.getAnzahl)|number_format(2, ',', '.') }}
                            </div>
                            <div class="col-lg-1" align="right">
                                {{ extra.getAnzahl }} {{ extra.getEinheit.getBezeichnung }}
                            </div>
                            <div class="col-lg-1" align="right">
                                {{ (extra.getKostenInklMwsT(extra.getKostenPlan) * extra.getAnzahl)|number_format(2, ',', '.') }}
                            </div>
                            <div class="col-lg-1" align="right">
                                19%
                            </div>
                            <div class="col-lg-1" align="center" style="background-color: #f1f1f1">
                                <br>
                            </div>
                            <div class="col-lg-2" align="center" style="background-color: #F1F1F1">
                                <br>
                            </div>
                            <div class="col-lg-4" align="right">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-1" align="left">
                                Ist
                            </div>
                            <div class="col-lg-1" align="right">
                                {{ (extra.getKostenInklMwsT(extra.getKostenIst) * extra.getAnzahl)|number_format(2, ',', '.') }}
                            </div>
                            <div class="col-lg-1" align="right">
                                {{ extra.getAnzahl }} {{ extra.getEinheit.getBezeichnung }}
                            </div>
                            <div class="col-lg-1" align="right">
                                {{ (extra.getKostenInklMwsT(extra.getKostenPlan) * extra.getAnzahl)|number_format(2, ',', '.') }}
                            </div>
                            <div class="col-lg-1" align="right">
                                19%
                            </div>
                            <div class="col-lg-1" align="left">
                                25.02.2017
                            </div>
                            <div class="col-lg-2" align="right">
                                2017-02-05-317
                            </div>
                            <div class="col-lg-4" align="right">

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12" align="left">
                                <b>Termine:</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1" align="left">
                                <span style="font-weight: 500">Status</span>
                            </div>
                            <div class="col-lg-1" align="left">
                                <span style="font-weight: 500">Start</span>
                            </div>
                            <div class="col-lg-1" align="left">
                                <span style="font-weight: 500">Ende</span>
                            </div>
                            <div class="col-lg-2" align="center">
                                <span style="font-weight: 500">Dauer in Tagen (errechnet)</span>
                            </div>
                            <div class="col-lg-1" align="left">
                                <span style="font-weight: 500">Kommentar</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1" align="left">
                                Plan
                            </div>
                            <div class="col-lg-1" align="left">
                                01.01.2017
                            </div>
                            <div class="col-lg-1" align="left">
                                31.01.2017
                            </div>
                            <div class="col-lg-2" align="center">
                                22/31 (exkl. / inkl. Wochenende)
                            </div>
                            <div class="col-lg-7" align="left">
                                -
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1" align="left">
                                Ist
                            </div>
                            <div class="col-lg-1" align="left">
                                01.01.2017
                            </div>
                            <div class="col-lg-1" align="left">
                                31.01.2017
                            </div>
                            <div class="col-lg-2" align="center">
                                22/31 (exkl. / inkl. Wochenende)
                            </div>
                            <div class="col-lg-7" align="left">
                                -
                            </div>
                        </div>

            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container">
        {#<div class="group_fx">#}
        <div class="row group_footer_fx">
            <div class="col-lg-12">
                Zwischensummer für {{ group.getName() }}
            </div>
        </div>
        {#</div>#}
    </div>
    <br>
    {% endfor %}

</div>