<tr>
    <td colspan="7"
        style="font-weight: 200; font-size: 14px">
        <table class="table table-condensed" style="border-top: hidden">
            <tr style="border-bottom: hidden">
                <th colspan="5" style="font-weight: 400; font-size: 18px" >Interne Extrakosten</th>
                <td align="right">

                    <!-- Trigger the modal with a button -->
                    <a class="btn btn-link-fx-greyred btn-xs"
                       href="{{ path('add_rolle_to_current_projekt', {'projektId': projekt.getId(), 'rolletyp': 'xxx'}) }}"
                       data-toggle="modal"
                       data-target="#addInternalExtraPopup"
                       role="button">
                        <span class="glyphicon glyphicon-plus" style="font-size: 10px" aria-hidden="true"></span> Neues internes Extra </a>
                </td>
            </tr>

            <tr style="border-bottom: 2px">
                <th style="width: 21%">
                    Objekt
                </th>
                <th style="width: 18%">
                    Ausführende Firma
                </th>
                <th style="width: 3%">Status</th>
                <th style="width: 10%" align="right">
                    Kosten
                </th>
                <th style="width: 14%">

                    {#<span style="font-size: x-small">  inkl. MwSt.<br>(ohne Unterpunkte)</span>#}
                </th>
                <th style="width: 4%"></th>
            </tr>
            {% for internalExtra in projekt.getRolleByTypKurzname('IE') %}

                {% if internalExtra.parent == false %}
                    <tr style="border: hidden">
                        <td style="width: 20%">

                            <a class="btn btn-linkfx btn-xs"
                               style="font-weight: 400; font-size: 12px"
                               href="{{ path('display_internal_extra', {'projektId': projekt.getId(), 'internalExtraId': internalExtra.getId()}) }}"
                               role="button">{{ internalExtra.getName }}
                                ({{ internalExtra.getAnzahl }} {{ internalExtra.getEinheit.getBezeichnung }})
                            </a>
                            <br>
                            {% if internalExtra.getChildren|length != 0 %}
                                {% for sub in internalExtra.getChildren %}
                                    <span style="font-size: 10px; font-weight: 200"
                                          class="btn btn-linkfx btn-xs"> {{ sub.getName }}
                                        ({{ sub.getAnzahl }} {{ sub.getEinheit.getBezeichnung }})</span>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td style="width: 15%; font-weight: 200; font-size: 12px">
                            Team Massivhaus
                        </td>
                        <td style="width: 20%">
                            {% if internalExtra.getKostenIst != null %}
                                Ist
                            {%  else %}
                                Plan
                            {% endif %}

                        </td>
                        <td style="width: 15%; font-weight: 200; font-size: 12px" align="right">
                            {% if internalExtra.getKostenIst != null %}
                            {{ (internalExtra.getKostenInklMwsT(internalExtra.getKostenIst) * internalExtra.getAnzahl)|number_format(2, ',', '.') }}
                            {%  else %}
                            {{ (internalExtra.getKostenInklMwsT(internalExtra.getKostenPlan) * internalExtra.getAnzahl)|number_format(2, ',', '.') }}
                            {% endif %}
                            €
                            <span style="font-size: x-small">

                            {% if internalExtra.mehrwertsteuer.isOhneMwSt %}
                                (MwSt. wird nicht angewendet)
                            {% else %}
                                (inkl. MwSt.)
                            {% endif %}
                                </span>

                        </td>
                        <td colspan="2" align="right">
                            <a class="btn btn-link-fx-greyred btn-xs"
                               href="{{ path('display_internal_extra', {'projektId': projekt.getId(), 'internalExtraId': internalExtra.getId()}) }}"
                               role="button">
                                <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                                Details
                            </a>
                            <button type="button" class="btn btn-link-fx-redred btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                Entfernen
                            </button>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% if projekt.getRolleByTypKurzname('IE')|length < 1 %}
                {% set disabled = "true" %}
            {% else %}
                {% set disabled = "false" %}
            {% endif %}
            <tr style="border: hidden">
                <td colspan="3" style="width: 60%; font-weight: 400">Summe interne Extrakosten:</td>
                <td colspan="1" style="font-weight: 400" align="right">
                    {% if projekt.getGesamtKostenInklMwstByKurzname('IE') != 0 %}
                        +{{ projekt.getGesamtKostenInklMwstByKurzname('IE')|number_format(2, ',', '.') }} €
                        <span style="font-size: x-small">(inkl. MwSt.)</span></b>
                    {% else %}
                        <div align="right">Es sind keine weiteren Kosten angefallen</div>
                    {% endif %}</td>
                <td align="right">
                    {#<a class="btn btn-link-fx-greyred btn-xs"#}
                       {#href="#"#}
                       {#aria-disabled="true"#}
                       {#role="button"#}
                            {#{% if projekt.getRolleByTypKurzname('IE')|length < 1 %}#}
                                {#disabled#}
                            {#{% endif %}#}
                    {#>#}
                        {#<span class="glyphicon glyphicon-refresh" aria-hidden="true" disabled="true"></span> Plan / Ist#}
                        {#Vergleich </a>#}
                </td>
            </tr>
        </table>
    </td>
</tr>